<p class="posizione-wrap">Posizione rilevata: <span id="posizione"></span></p>
<section>
    <h2 class="section-title">Nuovi eventi in zona</h2>
    <ul class="scrollable-events" id="new_events">
        <li class="event">
            <div class="event-img">
            </div>
            <div class="event-body">
                <h3 class="event-title">Nessun evento disponibile!</h3>
                <p class="event-data">&nbsp;</p>
            </div>
            <div class="event-footer">
                <div class="crowd-counter">
                </div>
                <p class="entry-price">&nbsp;</p>
            </div>
        </li>
    </ul>
</section>
<section>
    <h2 class="section-title">Eventi imminenti</h2>
    <ul class="scrollable-events" id="old_events">
        <li class="event">
            <div class="event-img">
            </div>
            <div class="event-body">
                <h3 class="event-title">Nessun evento nei prossimi 7 giorni!</h3>
                <p class="event-data">&nbsp;</p>
            </div>
            <div class="event-footer">
                <div class="crowd-counter">
                </div>
                <p class="entry-price">&nbsp;</p>
            </div>
        </li>
    </ul>
</section>
<section>
    <h2 class="section-title">I tuoi eventi</h2>
    <ul class="scrollable-events" id="your_events">
        <li class="event">
            <div class="event-img">
            </div>
            <div class="event-body">
                <h3 class="event-title">Nessun evento salvato!</h3>
                <p class="event-data">&nbsp;</p>
            </div>
            <div class="event-footer">
                <div class="crowd-counter">
                </div>
                <p class="entry-price">&nbsp;</p>
            </div>
        </li>
    </ul>
</section>
<section class="sponsor">
    <p>Sostieni InsiemEventi, visita il nostro sponsor!</p>
    <a href="https://luglawhaulsano.net/4/8565620">Sponsor</a>
</section>