<p class="posizione-wrap">Posizione rilevata: <span id="posizione"></span></p>
<section>
    <h2 class="section-title">Nuovi eventi in zona</h2>
    <ul class="scrollable-events" id="new_events"></ul>
</section>
<section>
    <h2 class="section-title">Eventi imminenti</h2>
    <ul class="scrollable-events" id="old_events"></ul>
</section>
<section>
    <h2 class="section-title">I tuoi eventi</h2>
    <ul class="scrollable-events" id="your_events"></ul>
</section>
<section class="sponsor">
    Sostieni InsiemEventi, visita il nostro sponsor!
    <a href="https://luglawhaulsano.net/4/8565620">Sponsor</a>
</section>