<h1>Conosci il team</h1>
<div id="valentina">
    <p class="name">Sabrina Usvelli</p>
    <div class="img"><img src="/assets/images/valentina.jpeg" alt=""></div>
    <p class="job">CEO & Developer</p>
</div>
<h2>Il resto del team</h2>
<div class="team">
    <div class="person">
        <div class="img">
            <img src="/assets/images/laura.jpeg" alt="">
        </div>
        <p class="name">
            Laura D'Alessandro
        </p>
    </div>
    <div class="person">
        <div class="img" style="background-color: beige">
            <span>R</span>
        </div>
        <p class="name">
            Rebecca Monteforte
        </p>
    </div>
    <div class="person">
        <div class="img" style="background-color: #f3c9fe">
            <span>A</span>
        </div>
        <p class="name">
            Angelica Mortani
        </p>
    </div>
    <div class="person">
        <div class="img" style="background-color: azure">
            <span>S</span>
        </div>
        <p class="name">
            Sabina Sinani
        </p>
    </div>
</div>