<div class="evento">
    <a href="/" class="back-btn">
        <img src="/assets/images/back.svg" alt="back btn" draggable="false">
    </a>
    <div class="evento-img">
    </div>
    <div class="evento-body">
        <h1 class="evento-title">&nbsp;</h1>
        <p class="evento-discr">&nbsp;</p>
        <ul class="evento-details">
            <li><h2>Dettagli</h2></li>
            <li>Prezzo biglietto d'ingresso: <span id="ev-price"></span></li>
            <li>Indirizzo: <span id="indirizzo"></span></li>
            <li>Data: <span id="ev-date"></span></li>
            <li>Orario: Dalle <span id="start"></span> alle <span id="end"></span></li>
            <li>Posti disponibili: <span id="crw-aval"></span> su <span id="crw-tot"></span></li>
            <li>Pubblicato il: <span id="p-date"></span> alle <span id="p-time"></span></li>
        </ul>
        <button>PARTECIPA</button>
    </div>
</div>