<footer id="footer">
    <ul>
        <li data-router="discover" onclick="top.location.href = '#/'">
            <img draggable="false" src="/assets/images/pin.svg" alt="discover icon">
            <span>Scopri</span>
        </li>
        <li data-router="new" onclick="top.location.href = '#/nuovo-evento'">
            <img draggable="false" src="/assets/images/calendar-add.svg" alt="calendar icon">
            <span>Nuovo</span>
        </li>
        <li data-router="fav" onclick="top.location.href = '#/preferiti'">
            <img draggable="false" src="/assets/images/bookmark.svg" alt="saved icon">
            <span>Preferiti</span>
        </li>
        <li data-router="team" onclick="top.location.href = '#/team'">
            <img draggable="false" src="/assets/images/team.svg" alt="team icon">
            <span>Il team</span>
        </li>
        <li data-router="team" onclick="sessionStorage.clear();top.location.href = '/'">
            <img draggable="false" src="/assets/images/logout.svg" alt="team icon">
            <span style="color:#cc8888">Esci</span>
        </li>
    </ul>
</footer>