#app{
    padding: 20vh 0 65px;
    position: relative;
}
h1{
    color: var(--white);
    padding: 10px 20px 0;
    font-size: 1.7rem;
}
.logo-wrapper{
    position: absolute;
    top: 0;
    left: -1px;
    right: -1px;
    height: 10vh;
    background-color: var(--main);
}
.wave{
    position: absolute;
    left: -1.5px;
    right: -1.5px;
    top: calc(100% - 1px);
}
.wave img{
    width: 100%;
    object-fit: contain;
    object-position: center;
    display: block;
}
.register-wrapper{
    text-align: center;
    padding: 10px 20px;
}
#register{
    display: flex;
    flex-direction: column;
    text-align: left;
}
label{
    font-size: 0.9rem;
}
input{
    height: 40px;
    width: 100%;
    border: 1px solid var(--lgray);
    color: var(--main);
    font-size: 1.4rem;
    font-weight: bold;
    padding: 5px 10px;
    outline: none;
    border-radius: 10px;
    margin-bottom: 1rem;
}
input:focus{
    border-color: var(--main);
}
#send{
    height: 40px;
    background-color: var(--main);
    font-size: 1.4rem;
    color: var(--white);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.app-logo{
    height: 20vh;
    width: 20vh;
    margin: 0 auto;
    animation: shake 1s linear 2;
}
.app-logo img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
@keyframes shake {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(6px, 6px) rotate(6deg); }
    50% { transform: translate(0, 0) rotate(0deg); }
    75% { transform: translate(-6px, 6px) rotate(-6deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}
label.error {
    color: red;
    margin-top: -1rem;
    margin-bottom: 1rem;
    opacity: 0;
    transition: all .33s linear;
}
label.error.active{
    opacity: 1;
}